
    <div *ngIf="myArrayTypes" class="h4"> {{myArrayTypes.name}}</div>
    
    <div id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [plotOptions]="chartOptions.plotOptions"
        [labels]="chartOptions.labels"
        [colors]="chartOptions.colors"
      ></apx-chart>
    </div>
  