<div class="h4"> {{myArrayTypes.name}}</div>
    <div id="chartColumnType">
       <apx-chart
         [series]="ChartOptionsColumnType.series"
         [chart]="ChartOptionsColumnType.chart"
         [dataLabels]="ChartOptionsColumnType.dataLabels"
         [plotOptions]="ChartOptionsColumnType.plotOptions"
         [yaxis]="ChartOptionsColumnType.yaxis"
         [xaxis]="ChartOptionsColumnType.xaxis"
         [stroke]="ChartOptionsColumnType.stroke"
         [grid]="ChartOptionsColumnType.grid"
         [fill]="ChartOptionsColumnType.fill"
         [annotations]="ChartOptionsColumnType.annotations"
       ></apx-chart>
     </div>
   