
.heigh
{
    height: 5px;
    margin: 3px;
}
.success-button{
font-size: 9px;
color:#28a745;
border-radius: .25rem
}
.button-danger
{
    font-size: 9px;
 color: #dc3545;
 border-radius: .25rem
}
.button-primary
{
    font-size: 9px;
    color:#007bff;
    border-radius: .25rem
}
.font-class{
    font-size: 12px;
    margin-left: 10px;
}
.progress-value
{
    margin-top: 6px;
    font-weight: 700
}
.progress{
    background-color: white;
}
