
    <div class="h4"> {{myArrayTypes.name}}</div>
     <div *ngFor= "let myArrayType of  myArrayTypes.data" >
     <div class="font-class"> {{myArrayType.label}} </div>    
    <div class="progress progress-padding">
        <div class="rogress-bar heigh button-danger" role="progressbar" [ngStyle]="{'width': myArrayType.value+'%', 'background-color': myArrayTypes.color}" aria-valuenow="50" aria-valuemin="0"
            aria-valuemax="100"></div>
        <span class="progress-value" style="font-size: 10px;" [ngStyle]="{'color': myArrayTypes.color}"> {{myArrayType.value}} </span>
    </div>
    <!-- <div class="font-class"> H1</div>
    <div class="progress progress-padding">
        <div class="rogress-bar bg-danger heigh button-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
            aria-valuemax="100"></div>
        <span class="progress-value"> {{MyArrayType.text}} </span>
    </div>
    <div class="font-class"> H2</div>
    <div class="progress progress-padding">
        <div class="progress-bar bg-danger heigh button-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
            aria-valuemax="100"></div>
        <span class="progress-value"> {{MyArrayType.text}} </span>
    </div> -->
    </div>

