<!-- <div class="row">
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
    </div>
<div class="row body">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: 21px">
 
        

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 card" style="float: left;"> 
            <div class="progress progress-padding ">
                    <div class="progress-bar  bg-success heigh success-button" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div> {{percentage}}
              </div> 
            <div class="progress progress-padding">
                <div class="progress-bar bg-success heigh success-button" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>{{percentage}}
            </div> 
            <div class="progress progress-padding">
                <div class="progress-bar bg-success heigh success-button" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>{{percentage}}
            </div> 
            <div class="progress progress-padding">
                <div class="progress-bar bg-success heigh success-button" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>{{percentage}}
            </div> 
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 card" style="float: left;">
            <div class="progress progress-padding">
                <div class="progress-bar bg-danger heigh button-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div> {{percentage}}
           </div>
            <div class="progress progress-padding">
                <div class="rogress-bar bg-danger heigh button-danger" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div> {{percentage}}
            </div>
            <div class="progress progress-padding">
                <div class="rogress-bar bg-danger heigh button-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div> {{percentage}}
            </div>
            <div class="progress progress-padding">
                <div class="progress-bar bg-danger heigh button-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div> {{percentage}}
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 card" style="float: left;">
            <div class="progress progress-padding">
                <div class="progress-bar btn-primary heigh button-primary" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div> {{percentage}}
            </div>
            <div class="progress progress-padding">
                <div class="progress-bar btn-primary heigh button-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div> {{percentage}}
            </div>
            <div class="progress progress-padding">
                <div class="progress-bar btn-primary heigh button-primary" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div> {{percentage}}
            </div>
            <div class="progress progress-padding">
                <div class="progress-bar btn-primary heigh button-primary" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div> {{percentage}}
            </div>
        </div>
        
       
    
 </div>  
 </div> 
 
  -->

<!-- <html>
 
    <body>
      <div class="container-fluid">
        <div class="row h-5">
          <div class="col bg-dark"></div>
        </div>
        <div class="row mt-2 h-100 w-100">
          <div class="col-2 bg-white text-center">
           
            <div class="row">
              <div class="col">
                <p class="h5">Logo</p>
              </div>
            </div>
            
            <hr />
           
            <div class="row h-100">
              <div class="col">
                <button class="btn btn-block btn-primary mt-2">Dashboard</button>
                <button class="btn btn-block btn-secondary mt-2">Reports</button>
                <button class="btn btn-block btn-success mt-2">
                  Content Library
                </button>
                <button class="btn btn-block btn-danger mt-2">
                  Internal Audit
                </button>
                <button class="btn btn-block btn-warning mt-2">
                  Standard & Regulations
                </button>
                <div class="mt-100">
                  <hr />
                  <button class="btn btn-block">
                    Setting
                  </button>
                </div>
              </div>
            </div>
            
          </div>
          <div class="col-10 bg-light">
           
            <div class="row">
              <div class="col-6">
               
                <div class="row">
                  <div class="col-6">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fa fa-search"></i>
                        </span>
                      </div>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
                
              </div>
  
              <div class="col-6 text-right">
                <span class="h6">Image 1</span>
                <span class="h6">Image 2</span>
                <span class="h6">Image 3</span>
                <span class="h6">+ Icon</span>
              </div>
            </div>
         
            
            <div class="row mt-2">
              <div class="col">
                <p class="h4">My Compliance Dashboard</p>
              </div>
            </div>
          
            <div class="row mt-2 bg-white text-center h-25">
              <div class="col-4">
                <div class="border border-dark">
                  <p class="h5">Progress Bar 1</p>
                </div>
              </div>
              <div class="col-4">
                <div class="border border-dark">
                  <p class="h5">Progress Bar 2</p>
                </div>
              </div>
              <div class="col-4">
                <div class="border border-dark">
                  <p class="h5">Progress Bar 3</p>
                </div>
              </div>
            </div>
           
            <div class="row mt-5 text-center h-25 bg-white">
              <div class="col-2">
                <div class="border border-dark">
                  <p class="h5">Circular Progress 1</p>
                </div>
              </div>
              <div class="col-2">
                <div class="border border-dark">
                  <p class="h5">Circular Progress 2</p>
                </div>
              </div>
              <div class="col-2">
                <div class="border border-dark">
                  <p class="h5">Circular Progress 3</p>
                </div>
              </div>
              <div class="col-2">
                <div class="border border-dark">
                  <p class="h5">Circular Progress 4</p>
                </div>
              </div>
              <div class="col-4 h-25">
                <div class="border border-dark h-100">
                  <p class="h5">Bar chart 1</p>
                </div>
              </div>
            </div>
        
            <div class="row h-10">
              <div class="col mt-2">
                <p class="h5">Compliance Audit Table</p>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </body>
  </html> -->
<div class="container-fluid">

  <div class="row mt-2 h-100 w-100">
    <div class="col-2 bg-light text-center">

      <div class="row">
        <div class="col">
          <p class="h5">Logo</p>
        </div>
      </div>
      <hr />
      <div class="row h-100">
        <div class="col">
          <button class="btn btn-block btn-primary mt-2">Dashboard</button>
          <button class="btn btn-block btn-secondary mt-2">Reports</button>
          <button class="btn btn-block btn-success mt-2">
            Content Library
          </button>
          <button class="btn btn-block btn-danger mt-2">
            Internal Audit
          </button>
          <button class="btn btn-block btn-warning mt-2">
            Standard & Regulations
          </button>
          <div class="mt-100">
            <hr />
            <button class="btn btn-block">
              Setting
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 bg-light">
      <router-outlet></router-outlet>
    </div>


  </div>
</div>