<div class="row">
  <div class="col-6 text-right"></div>
  <div class="col-6 text-right">
    <span class="h6">Image 1</span>
    <span class="h6">Image 2</span>
    <span class="h6">Image 3</span>
    <span class="h6">+ Icon</span>
  </div>
</div>
<div class="row mt-2">
  <div class="col">
    <p class="h1">My Compliance Dashboard</p>
  </div>
</div>
<div class="row mt-2  h-40">

  <div class="col-4">
    <div class="card-layout card shadow">
      <div style=float:right>
        <i class="fa fa-bars" aria-hidden="true" [ngbPopover]="popContent" [popoverTitle]="popTitle"
         triggers="manual" #p1="ngbPopover" (click)="togglePopOver(p1,myArrayTypes)" style="float: right;font-size: 14px"></i>
      </div>
      <div  *ngIf="myArrayTypes.graphType==0">
        <app-progress-bar-chart [myArrayTypes]="myArrayTypes"></app-progress-bar-chart>
      </div>
      <div *ngIf="myArrayTypes.graphType==1">
        <app-radial-bar-chart [myArrayTypes]="myArrayTypes"></app-radial-bar-chart>
      </div>
      <div *ngIf="myArrayTypes.graphType==2">
      <app-column-bar-chart [myArrayTypes]="myArrayTypes"></app-column-bar-chart>
      </div>
    </div>
  </div>

  <div class="col-4">
      <div class="card-layout card shadow">
        <div style=float:right>
          <i class="fa fa-bars" aria-hidden="true" [ngbPopover]="popContent" [popoverTitle]="popTitle" style="float: right; font-size: 14px"
          triggers="manual" #p2="ngbPopover" (click)="togglePopOver(p2,myArrayTypes1)"
          ></i>
      </div>
        <div  *ngIf="myArrayTypes1.graphType==0">
          <app-progress-bar-chart [myArrayTypes]="myArrayTypes1"></app-progress-bar-chart>
        </div>
        <div *ngIf="myArrayTypes1.graphType==1">
          <app-radial-bar-chart [myArrayTypes]="myArrayTypes1"></app-radial-bar-chart>
        </div>
        <div *ngIf="myArrayTypes1.graphType==2">
        <app-column-bar-chart [myArrayTypes]="myArrayTypes1"></app-column-bar-chart>
        </div>
      </div>
    </div>


    <div class="col-4">
        <div class="card-layout card shadow">
          <div style=float:right>
            <i class="fa fa-bars" aria-hidden="true" [ngbPopover]="popContent" [popoverTitle]="popTitle" style="float: right;font-size: 14px"
            triggers="manual" #p3="ngbPopover" (click)="togglePopOver(p3,myArrayTypes2)"
            ></i>
          </div>
          <div  *ngIf="myArrayTypes2.graphType==0">
            <app-progress-bar-chart [myArrayTypes]="myArrayTypes2"></app-progress-bar-chart>
          </div>
          <div *ngIf="myArrayTypes2.graphType==1">
            <app-radial-bar-chart [myArrayTypes]="myArrayTypes2"></app-radial-bar-chart>
          </div>
          <div *ngIf="myArrayTypes2.graphType==2">
          <app-column-bar-chart [myArrayTypes]="myArrayTypes2"></app-column-bar-chart>
          </div>
        </div>
      </div>


</div>
<div class="row mt-5 text-center h-40 ">
  <div class="col-2">
    <div class="card-layout card shadow">
    <app-radial-bar-chart [myArrayTypes]="radialProgressBar"></app-radial-bar-chart>
  </div>
  </div>
  <div class="col-2">
    <div class="card-layout card shadow">
    <app-radial-bar-chart [myArrayTypes]="radialProgressBar1"></app-radial-bar-chart>
  </div>
  </div>
  <div class="col-2">
    <div class="card-layout card shadow">
    <app-radial-bar-chart [myArrayTypes]="radialProgressBar2" ></app-radial-bar-chart>
  </div>
  </div>
  <div class="col-2">
    <div class="card-layout card shadow">
    <app-radial-bar-chart [myArrayTypes]="radialProgressBar3"  ></app-radial-bar-chart>
  </div>
  </div>
  <div class="col-4 h-16">
    <div class="card-layout card shadow">
    <app-column-bar-chart [myArrayTypes]="myArrayTypes"></app-column-bar-chart>
  </div>
  </div>
</div>

<div class="row h-10">
  <div class="col mt-2">
    <p class="h5">Compliance Audit Table</p>

  </div>
</div>

<ng-template #popContent let-myArrayTypes="myArrayTypes">
  <ul style="" >
    <li class="list-item" (click)="progressChart(myArrayTypes)" [ngClass]="{active:myArrayTypes.graphType==0}" style="list-style-type: none">
      Progress Bar
    </li>
    <li class="list-item" style="margin-top: 7px" (click)="radialChart(myArrayTypes)" [ngClass]="{active:myArrayTypes.graphType==1}" style="list-style-type: none">
      Radial Bar
    </li>
    <li  class="list-item"style="margin-top: 7px" (click)="columnChart(myArrayTypes)" [ngClass]="{active:myArrayTypes.graphType==2}" style="list-style-type: none">
        Column Bar
    </li>

  </ul>
</ng-template>
<ng-template #popTitle>
  <span style="font-size: 12px"><b>Select Graph Type</b></span>
</ng-template>