.body
{
    height: 1000px;
    background-color: #e9ecef
}

.progress-padding
{
    padding-bottom: 16px
}
.h-5 {
    height: 5%;
  }

  .mb-0 {
    margin-bottom: 0%;
  }
  .mt-100 {
    margin-top: 100%;
  }
  .h-16{
   height:  16%!important;
  }

#chart {
  padding: 0;
  max-width: 650px;
  margin: 35px auto;
}
.font-class{
    font-size: 9px;
    margin-left: 10px;
}
.card-layout
{
    background-color: white;
    padding: 7px;
}

.popover .arrow::after
{
    border-bottom-color: #d22525;
}
.active
{
    background-color: #007bff;
    color: white;
    font-size: 11px;
}
.list-item:hover
{
background-color:  #dcecf7;
cursor: pointer;
}
.list-item{
    font-size: 12px;
    padding: 4px
   
}